In [17]:
import pandas as pd
df=pd.read_csv("cse1.csv",header=None)
df

         0    1       2
0     NAME  AGE  SALARY
1     Ammu   19   50000
2     Gayu   17   75000
3  Pallavi   45  100000
4    Priya   12   35000
5    Malli   27   40000

In [21]:
df.columns("clg name","RGUKT","SKLM")
df.head()

TypeError: 'Int64Index' object is not callable

In [2]:
df=pd.read_csv("cse1.csv")
df

NameError: name 'pd' is not defined